{%extends 'base.html'%}
{% block title %}
extract pdf    
{% endblock title %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Text Extractor</title>
</head>
<body>


     <h2>Generate Question and Answer</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'QandA' %}">
        {% csrf_token %}
        <input type="file" name="pdf_file" accept=".pdf" required>
        <button type="submit">Generate Question</button>
    </form>



</body>
</html>
{% endblock body %}